body{
    background-image: url("https://nifty.pm/static/media/waves-large@2x.0f45956af565d8c3dea9.png");
}

/* logobar start */
#logobar img {
    display: block;
   width: 7.2% ;
    margin: auto;  
}
/*logo bar end*/
/* parent login start */

#parentLogin {
    display: flex;
    width: 70%;
    border: 1px solid rgb(233,233,232);
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    
}
#header{
    display: flex;
    align-items: center;
}


#firstdiv{
    width: 50%;
background-color:rgb(253,248,247);
padding: 3%;
}

#header span{
    background-color: #F99446;
    border-radius: 15px;
    color: whitesmoke;
    margin-right: 5px;
    font-size: 10px;
    padding:5px;
font-weight: bolder;
}
#loginimg{
    width: 100%;
}
#para{
    margin-top: auto;
}
/* end */
/* start login side*/
#secondDiv{
    width: 50%;
    padding: 6%;
    background-color:white;
  
}
#secondDiv> label{
    display: block;
    color: #767677;
margin: 3% 2px;
font-size:large;
font-weight: bold;
}
#forgot{
    display: flex;
    justify-content: space-between;
    color: #767677;
    margin-left: auto;
    margin: 1% 2px;
    align-items: center;

    font-size:large;
font-weight: bold;
}
#secondDiv h2{
    margin-top: auto;
}
#secondDiv input{
    width: 94%;
    padding: 3.5%;
    margin-bottom: 4%;
    font-size: medium;
    border: 2px solid silver;
    border-radius: 5px;
    outline-color: rgb(59,181,166);
}
#submit{
    width: 103%;
    padding: 13px;
    background-color: rgb(131, 204, 195);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-bottom: 5%;
}
#google{
    width: 50%;
    margin: auto;
   display: flex;
  color: #fa8932;

}
#google img{
    width: 6.5%;
    margin: 0px 10px;
    font-weight: bolder;
}
#google:hover{
    text-decoration: 1px solid underline;
}
#sso{
    display: block;
    width: 38%;
    margin:auto;
   margin-top: 4%;
   color: rgb(87,87,86);
}
#sso:hover{
    text-decoration: underline;
}
#or {
    display: flex;
    flex-direction: row;
    color: rgb(87,87,86);
}
#or:before,
#or:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid silver;
    margin: auto;
}
#dont{
width: 50%;
margin: auto;
color: rgb(87,87,86);
}
#signupforfree{
    display: block;
    margin:auto;
    /* width: 40%; */
  
    color: #F99446;
    background-color: white;
    border: 1px solid silver;   
    font-weight: bolder;
    padding:10px 25px;
    margin-top: 4%;
    cursor: pointer;
    border-radius:5px;
}