#popup {
    width: 35%;
    display: none;
    position: fixed;
    height: 55%;
    top: 20%;
    left: 30%;
    border: 3px solid #f1f1f1;
    z-index: 9;
    border-radius: 10px;
    background-image: url("https://niftypm.com/_nuxt/img/flying-papers.1f279aa.png");
    background-size: 100% 100%;
}


#popup img {
    display: block;
    width: 17%;
    margin: auto;
    padding: 5%;
    margin-top: 6%;
}

#popup h1 {
    margin: 0px 8%;
    text-align: center;
    font-size: 50px;
}

#inputDiv {
    background-color: rgb(240, 244, 246);

    margin: 8% 4%;
    border-radius: 10px;
}

#inputDiv input {
    font-size: medium;
    width: 65%;
    padding: 4% 2%;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: rgb(240, 244, 246);
}

#inputDiv button {
    font-size: medium;
    border: none;
    padding: 2.5% 5%;
    border-radius: 10px;
    color: white;
    background-color: rgb(1, 187, 171);
}

/*end signup first part*/
#shiftOtp {
    display: block;
}

#Otp {
    display: none;
}

#uppperPart {
    display: block;
    width: 100%;
    height: 55%;
    text-align: center;
    background-image: url("https://nifty.pm/static/media/onboarding-header-bg@2x.9774903d32a9252110c9.png");
    background-size: 100% 100%;
    border: 1px solid rgb(240, 235, 235);
}

#uppperPart img {
    display: block;
    width: 8%;
    margin: auto;
    margin-top: 2%;
}

#uppperPart h1 {
    margin-top: 2%;
    font-family: SFProDisplayCustom,SF Pro Text,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#uppperPart h4{
    color: rgb(85, 83, 83);
}

#biginput {
    display: flex;
    width: 30%;
    margin: auto;
    height: 40%;
    margin-top: 5%;
}

#biginput input {
    width: 20%;
    font-size: 60px;
    text-align: center;
    outline-color: rgb(1, 187, 171);
    margin: 5px;

}

#verify {
    display: block;
    width: 17%;
    margin: auto;
    margin-top: 1%;
    /* padding: 10px 20px 10px 20px; */
    padding: 0.9% 4%;
    border: none;
    border-radius: 5px;
    background-color: rgb(1, 187, 171);
    cursor: pointer;
    color: white;
    font-weight: bolder;


}
#getStarted:hover{
cursor: pointer;
}

#littlePara {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: 18px;
    margin-top: 2%;
}



/*profile start*/
#profile {
    display: none;


}

#avtarDiv {
    width: 40%;
    margin: auto;
    display: flex;
    margin-top: 20px;
}

#avtar {
    width: 20%;

    padding: 20px;
    align-items: center;
    text-align: center;
    margin-right: 5%;
    ;
}
#avtar button:hover{
    color: green;
    cursor: pointer;
}

#avtar img {
    width: 120%;
   
    border-radius: 5px;
}

#avtar button {

    width: 130px;
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid silver;
    font-weight: bolder;
    color: rgb(165, 162, 162);
    padding: 5px;

}

/*usder details */

#userDetails,#userWorkspace{
    width: 50%;
    padding: 6%;
    background-color: white;


}

#userDetails>label {
    display: block;
    color: black;
    margin: 3% 2px;
    font-size: medium;
    font-weight:600;
}
#userDetails label:first-child{
 
    margin-top: -20px;
}



#userDetails input, select  {
    width: 100%;
    padding: 3.5%;
    margin-bottom: 4%;
    font-size: medium;
    border: 2px solid silver;
    border-radius: 5px;
    outline-color: rgb(59, 181, 166);
}

#userDetails select {
    width: 110%;
}

#tc {
    width: 40%;
    margin: auto;
    text-align: center;
    font-size: small;
}

#registerBtn {

color: white;
    display: block;
    border: none;
    padding: 4% 30%;
    margin-left: auto;
    margin-right: -25px;
    border-radius: 5px;
    background-color: rgb(124, 213, 205);
}
#registerBtn:hover{
    cursor: pointer;
}

/*userWorkspace start */
#url input{
    width: 85%;
  border: none;
  /* outline-color: rgb(59, 181, 166); */
  outline: none;

}
#url{
    width: 110%;
    border:1px solid silver ;
    display: flex;

}

/*media query */
@media only screen and (max-width: 600px) {
#blur{
    width: 30%;
}
    #popup {
        width: 50%;
        display: none;
        position: fixed;
        height: 25%;
        top: 20%;
        left: 0;
        right: 0;
        border: 3px solid #f1f1f1;
        z-index: 9;
        border-radius: 10px;
        background-image: url("https://niftypm.com/_nuxt/img/flying-papers.1f279aa.png");
        background-size: 100% 100%;
    }
    
    
    #popup img {
        display: block;
        width: 17%;
        margin: auto;
        padding: 5%;
        margin-top: 6%;
    }
    
    #popup h1 {
        margin: 0px 8%;
        text-align: center;
        font-size: 10px;
    }
    
    #inputDiv {
        background-color: rgb(240, 244, 246);
    
        margin: 8% 4%;
        border-radius: 10px;
    }
    
    #inputDiv input {
        font-size: medium;
        width: 65%;
        padding: 4% 2%;
        border: none;
        border-radius: 10px;
        outline: none;
        background-color: rgb(240, 244, 246);
    }
    
    #inputDiv button {
        font-size: medium;
        border: none;
        padding: 2.5% 5%;
        border-radius: 10px;
        color: white;
        background-color: rgb(1, 187, 171);
    }
    #biginput input {
        width: 30%;
        font-size: 10px;
    }
}

/*tab */
@media only screen and (max-width: 768px) {
    #biginput input {
        font-size: 40px;

    }
}