*{
    box-sizing: border-box;
    font-family: sans-serif;
}
#signup{
    width: 25%;
    margin:auto;
    margin-top: 100px;
    padding:5px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
h1{
    text-align: center;
}
form>input,select,button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius:5px;
}
#registerBtn,#loginBtn{
    color:white;
    font-size:18px;
    background: linear-gradient(109.6deg, rgb(0, 37, 84) 11.2%, rgba(0, 37, 84, 0.32) 100.2%)
}
p{
    text-align: center;
}
p>a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color:#002554;
}